.page2{
    display: flex;
    background-color: rgb(250, 251, 252);
}
div{
    border: 1px solid black;
}
.p2inicioleft{
    margin-left: 15%;
    margin-bottom: 5rem;
}
.otrotitulo{
    display: flex;
}
.imgvision{
    width: 30em;
    height: 20em;
    border-radius: 12px;
}
.lp1{
    padding-right: 50%;
}
.p21{
    margin-left: 10%;
    margin-bottom: 5rem;
}
.p22{
    display: flex;
    margin-left: 5%;
    margin-bottom: 2rem;
}
.dot{
    height: 50px;
    width: 50px;
    background-color: black;
    border-radius: 50%;
    justify-content: center;
}
.pdot{
    padding-left: 30%;
    padding-top: 10%;
    color: white;
    font-size: 1.5em;
}
.page3{
    display: flex;
    margin-top: 10%;
    margin-left: 10%;
    margin-bottom: 5%;
}
.p31{
    margin-right: 10%;
}
.dtilde{
    display: flex;
    margin-left: 2%;
    margin-bottom: 2%;
    border-radius: 12px;
}
.tilde{
    width: 2em;
    height: 2em;
    margin-right: 3%;
}
.p32{
    margin-right: 10%;
    margin-left: 3%;
    border-radius: 12px;
}
.home{
    width: 30em;
    height: 32em;
    border-radius: 12px;
}
.what{
    display: flex;
    margin-left: 9%;
    margin-right: 10%;
    margin-bottom: 2%;
}
.comentario{
    display: flex;
    margin-left: 9%;
    margin-right: 10%;
    margin-bottom: 3%;
}
.personas{
    display: flex;
}
.imgpersonas{
    width: 2em;
    height: 2em;
    border-radius: 50%;
}
.familyHome{
    display: flex;
    margin-left: 9%;
    margin-right: 10%;
    margin-bottom: 3%;
}
.titulosfinales{
    margin-left: 5%;
}
.fhome{
    width: 90%;
    height: 30em;
}
.fotofinales{
    display: flex;
    width: 90%;
    height: 15em;
}